<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Websites</title>
  </head>
  <body>
    <h1>We are down right now...sorry for inconvenience.</h1>
    <p>Our engineers are working hard to fix this problem..we need Tony Stark over here.</p>

    {{> footer}}
  </body>
</html>
